#navbar {
    height: 50px;
    background: rgb(90, 98, 126);
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: whitesmoke;
    z-index: 2;
}

#name {
    position: fixed;
    font-size: xx-large;
    margin: 0px;
    top: 4px;
    left: 30px;
}

#navbar a {
    text-decoration: none;
    font-size: large;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: whitesmoke;
    position: fixed;
}

#resume_link {
    top: 11px;
    right: 100px;
}

#portfolio_link {
    top: 11px;
    right: 200px;
}

#jay_image {
    height: 40px;
    width: 40px;    
    top: 5px;
    right: 30px;
    position: fixed;
    border-radius: 50%;
}

article {
    position: relative;
    top: 50px;
    width: 1000px;
    margin: 0 auto;
}